main {
  max-width: 900px;
  margin: 2rem auto 3rem;
  padding: 0 1rem;
}
section {
  margin-bottom: 4rem;
}
#about,
#projects,
#skills,
#contact {
  scroll-margin-top: 80px;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
section > img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  color: #00365a;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;
  border-bottom: 3px solid #007acc;
  padding-bottom: 0.3rem;
  /* margin-bottom: 1rem; */
}
h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
